---
title: 'Verifiche statiche e dinamiche'
draft: false
type: 'page'
toc: true
mathjax: true
---

---

## Verifiche dinamiche

Tra le verifiche dinamiche, troviamo il *software testing* (anche detto *collaudo*): il software viene sollecitato e se ne osserva il comportamento. Il sistema software viene eseguito con dati di test e si confronta il suo output con una lista di output attesi, per verificarne la correttezza.

Il problema delle verifiche dinamiche è che non tutti i semilavorati software sono eseguibili.

## Verifiche statiche

I semilavorati non eseguibili, quali i disegni architetturali del software, possono essere esaminati *sulla carta*, attraverso ispezioni della rappresentazione o l'esecuzione di strumenti automatici esterni di analisi.

## Nel modello a cascata

![](../../images/Pasted%20image%2020221219150020.png)
## Testing

Non è possibile provare un programma in tutte le possibili situazioni in cui potrebbe venire usato, perciò il test copre soltanto una frazione dell'insieme di casi d'uso possibili. Per questo, se non si trovano errori, non ne è comunque assicurata l'assenza.

Alcuni requisiti, inoltre, possono essere verificati solo mediante il testing, come ad esempio i requisiti non funzionali quali l'efficienza o il tempo di risposta.

Va notato che testing e verifiche non sono due strade alternative, ma vanno usati insieme per assicurare il maggior grado di certezza sulla correttezza del sistema software sviluppato.
